/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	background:  #FFFFFF url(/images/bg01.jpg) repeat-x top left;
	font-size: 13px;
	color: #7F7F7F;
}

body, th, td, input, textarea, select, option {
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #484848;
}

h1 {
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 24px;
}

h2 {
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 24px;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

p {
    margin: 0 0 10px 0;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #484848;
}

a:hover {
	text-decoration: underline;
}

#header {
	width: 890px;
	height: 190px;
	margin: 0px auto;
}

#logo {
	float: left;
	padding: 40px 0 0 0;
}

#logo h1 {
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 3.6em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 1.22em;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu {
	float: right;
}

#menu ul {
	padding: 93px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #FFFFFF;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #FFFFFF;
}

#page {
	width: 890px;
	margin: 0 auto;
}

#content {
	float: left;
	width: 590px;
}

.post {
	padding: 20px 20px;
}

.post li {
    list-style: circle;
    margin: 0 0 0 30px;
}

.title {
	border-bottom: 2px solid #484848;
	color: #484848;
}

.meta {
	text-align: left;
	color: #646464;
}

#archive li {
    list-style: circle;
    margin: 0 10px 0 40px;
}

#sidebar {
	float: right;
	width: 240px;
}

#sidebar ul {
	list-style: none;
}

#sidebar li ul {
	padding: 15px 0;
}

#sidebar li li {
	padding-left: 20px;
	border-bottom: 1px dotted #7B9418;
}

#sidebar h2 {
	margin: 0;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

#footer {
	clear: both;
	height: 80px;
}

#footer p {
	padding: 20px 0;
	text-align: center;
	font-size: smaller;
	color: #717171;
}
